@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
    --primary-color: #070743;
    --secondary-color: #d1e518;
    --accent1-color: #d3d5d1eb;
    --accent2-color: #e59b11;
  
    --heading-font: formal;
    --paragraph-font: monospace, serif;
  
    --nav-background-color: #0627acf5;
    --nav-link-color: #f6f5f1;
    --nav-hover-link-color: #0d0d7f;
    --nav-hover-background-color: #30d125;
}
.earlybird {
  padding: 25px;

}
.right{
  float:right;
  margin: 15px;
}
body {
    font-family: VAR(--paragraph-font); 
    max-width: 960px;
    min-width: 700px;
    padding: 40px;
    margin: 0 auto;
  }

.WWR{
  color: white;
  text-align: center;
  margin: 30px;
}




.fontcolor {
  color: white;
  background-color: #0d0d7f;
}

.purpose{
  display: grid;
}


nav {
  width: 100%;
  justify-content:space-around;
  display: flex;
  align-items: center;

}
header {
  display: grid;
  grid-template-columns: 100px auto;
  background-color: var(--nav-background-color);
}
header img{
  width: 100px;
}
.histo_ry {
  color: rgb(49, 100, 128);
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
      }
  h2{
  text-align: center;
  }
.hero {
  background-image: url("../images/herobackground.jpg");
  background-size: cover;
  height: 500px;
  padding: 120px 0;
}

/*.history {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(183, 173, 160);
  padding: 50px;
}*/
.indexaction{
  display:grid;
  grid-template-columns: 1fr 1fr ;

}
.purpose{
  
  color: rgb(7, 6, 6);
  text-align: center;
  background-image: url("../images/purpose.jpg");
  border:20px;
  background-size: cover;
}

.forfun{

  text-align: center;
  background-color: rgba(240, 248, 255, 0.425);
  margin: 20px;
}
.why {
  color: rgb(18, 16, 16);
  text-align: center;

}
.staffsfigures {
text-align: center;
background-color: #b7adadf2;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10 px 18px #888888;
}
.contactinfo{
  margin-top: 1em;
  padding-right: 1em;
}
.side-to-map{
  margin-top: 1em;
  

}
.summer{
  color: gainsboro;
  text-align: center;

}
.earlybird{
  color: rgb(7, 7, 7);
  text-align: center;
  background-color:#c28513ee;
  background-size: cover;
}
.history-picture{
  text-align: center;
}

.adventures{
  text-align: center;
  
}
.content{
  display: flex;
  justify-content: center;
  background-color: rgba(250, 235, 215, 0.421);
  margin:30px;
  margin-bottom:30px;
  margin-top:30px;


}
/*.experience img{
  width: 99%;
}*/
.experience {
  display: flex;
  justify-content: center;
  gap: 10px;
}

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  .experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  figure {
    margin: 0;
  }
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--accent1-color); 
    background-color: var(--nav-hover-background-color);
  }
  .home-overview{
    margin-top: 2em;
  }
  .article{
    margin-top: 3em;
    margin-bottom: 2em;
  }
  ul{
    list-style-type: none;
  }
  footer {
    margin-top: 1em;
    border-top: 1px solid #1a1111;
    text-align: center;
  }
  .title{
    color:whitesmoke;
    text-align: center;
  }
  .sociallinks {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    
  }
  .side-to-map
  {
    display:flex;
  }
  .staffsname{
    display: flex;
    justify-content: center;

  }
  .staffs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px; 
  }
  .booknow {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  figcaption{
    text-align: center;
      }
  .booknow button{
    width: 100%;
    background-color: #0d0d7f;
    color:aliceblue;
    padding: 10px 0;
    border-radius:10px;
    margin: 15px 0;
  }

 /* @import url('http://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        font-family: Merriweather, Georgia, serif;
        font-size: 1.2em;
        color: #333;
        background: #fff;
      }
     form header {
        margin: 0 auto;
        width: 650px;
      }      
      legend{
        text-align: center;
      }
      form {
        width: 650px;
        margin: 0 auto;
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        background-color: #eee;
        display: grid;
      }
      fieldset {
        display: grid;
        grid-gap: .5rem;
        margin: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
      }
      input {
        display: block;
        height: 30px;
        width: 100%;
        margin: 15px 0;
      } 
      textarea{
        display: block;
        height: 150px;
        width: 100%;
        margin: 15px 0;

      }
      select {
        display:block;
        width:100%;
        height: 30px;
        margin: 15px 0;

      }

      .radio {
        display:flex;
        align-items: center;

      }
      .contactcheckbox {
        display:flex;
        gap:0;
        align-items: left;
        justify-content: flex-start;
      }

      
      label, input, button, select, textarea {
        font-family: Roboto, Arial, sans-serif;
      }
      label {
        text-align: center;
        padding-right: 1rem;
      }
      button {
        margin: 1rem;
        background-color: navy;
        color: #fff;
        border: none;
        border-radius: .5rem;
        padding: .75rem;
        font-size: 1.2rem;
      }
  
      button:hover {
        background-color: darkgreen;
      }